!!! Strict
%html
	%head
		%title #{@title} :: Omnifense
		%link{rel:'stylesheet',type:'text/css',href:'/common.css'}
		%script{type:'text/javascript',src:'/js/jquery-1.4.2.min.js'}
		- case @js
		- when Array
			- @js.each do |js|
				%script{type:'text/javascript',src:"/js/#{js}.js"}
		- when String
			%script{type:'text/javascript',src:"/js/#{@js}.js"}
	%body{id: @id}
		#content= yield
		#nav
			- if @me
				%span Logged in as #{@me.nick}
			%a#logout{href:'/logout'} Logout